@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  background: #f0ebf8;
  padding: 30px;
}
.container {
  width: 45rem;
}
.container > .text-center {
  background: white;
  box-shadow: 0px 0px 1px 0px black;
  border-top: 4px solid purple;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 15px;
}
.msg {
  height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
}
.success {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
}
.card {
  box-shadow: 0px 0px 2px 1px #00000047;
  border-radius: 10px;
}
.card-title {
  font-size: 50px;
  color: green;
}
.card-text {
  font-size: 30px;
}
span {
  color: red;
}
.bi {
  font-size: 80px;
}
.btn-success,
.btn-success:hover,
.btn-success:active {
  background-color: #930093 !important;
  border-color: #800080 !important;
}
.btnhover {
  display: inline;
  padding-left: 2rem;
  visibility: hidden;
  color: red;
}
.btn-success:hover + .btnhover {
  visibility: visible;
}
.details > .form-group {
  position: relative;
}
.dp-img {
  padding: 20px;
  border: 1px solid purple;
  height: auto;
  width: auto;
  position: absolute;
  top: 30%;
  right: 1rem;
  transform: translateY(-50%);
}
.dp-img > img {
  max-height: 170px;
  max-width: 170px;
  /* position: absolute;
  top: 30%;
  right: 1rem; 
  transform: translateY(-50%); */
}
.dp-img > p {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dp {
  height: 110px;
  position: relative;
}
.dp > input {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}
.dp > label {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}
.dp > .img {
  max-height: 90px;
  width: auto;
  padding: 3px;
  background: #f6f0ff;
  border: 2px solid rgb(222 201 255);
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.img > img {
  max-height: 80px;
  max-width: 90px;
}
.form-control {
  border-bottom: 1px solid purple !important;
}
.form-group {
  background: white;
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 5px;
  padding: 20px;
}
.link-text {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link-text:hover > a {
  text-decoration: none;
}
.link-text-2 {
  cursor: pointer;
  color: blue;
}
